/* GENERAL */

body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color:#ccc;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 400;
}

p{
    line-height: 1.7;
}

img{
    max-width: 100%;
}

.about{
    margin-top:3rem;
    margin-bottom: 3rem;;
}

.about .card h2{
    margin: .75rem 0;
}

.hero{
    color:#fff;
    background-color:rgba(0, 0, 0, 0.5);
}

.hero .card{
    padding-top: 15px;
    padding-bottom:15px
}







